.nav{
	background-color: darkred;
}

.heads {
  color: red;
}

.active {
  border: 1px solid brown;
  font-weight: bold;
}


.container h3 {
	margin-top: 30px;
	margin-bottom: 30px;
}

footer {
  background-color: darkred;
  margin-top: 180px;
}

footer p {
  color: white;
}

footer ul li {
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
  color: lightblue;
}